﻿@model BO.Pizza

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Nom)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Pate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Pate.Nom)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Ingredients)
    </dt>
    @foreach (var ingredient in Model.Ingredients)
    {
        <dd>
            @Html.DisplayFor(model => ingredient.Nom)
        </dd>
    }
</dl>