﻿@model Tp2Module05LesPizzas.Models.PizzaGestionVM

<h2>Création une Pizza</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pizza.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pizza.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pizza.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pates, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.IdPate, Model.Pates.Select(item => new SelectListItem { Text = item.Nom, Value = item.Id.ToString() }), "Sélectionner une pate")
            <br />
            @Html.ValidationMessageFor(model => model.IdPate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredients, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ListBoxFor(model => model.IdIngredients, Model.Ingredients.Select(item => new SelectListItem { Text = item.Nom, Value = item.Id.ToString() }))
            <br />
            @Html.ValidationMessageFor(model => model.IdIngredients, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index", new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
