﻿@model Tp2Module05LesPizzas.Models.PizzaGestionVM

@{
    ViewBag.Title = "Supprimer une Pizza";
}

<h2>Supprimer la Pizza</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pizza.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza.Nom)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="@ViewBag.Title" class="btn btn-warning" /> |
        @Html.ActionLink("Retour", "Index", new { @class = "btn btn-default" })
    </div>
    }
</div>