﻿@model IEnumerable<BO.Pizza>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des Pizzas</h2>

<p>
    @Html.ActionLink("Créer une Pizza", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @if (item.Pate != null)
                {
                    @Html.DisplayFor(modelItem => item.Pate.Nom)
                }
            </td>
            <td>
                @if (item.Ingredients != null)
                {
                    foreach (var ingredient in item.Ingredients)
                    {
                        @Html.DisplayFor(i => ingredient.Nom) <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>